body {
    width: 70%;
    margin: 20px auto;
    background-color: lightgray;
}

.input label,
.output label {
    display: block;
}

#convert-button {
    min-width: 200px;
}

.highlight-text {
    font-weight: bolder;
}

.descr {
    display: inline-block;
}

.CodeMirror {
    margin: 10px 0;
    max-width: 1000px;
}

.options .excluded-sets {
    min-height: 100px;
}

.options .row {
    margin-bottom: 20px;
}

.icon-mapping, .icon-anchors {
    min-width: 320px;
}
.icon-anchors {
    min-height: 120px;
}

.select-editable {
    display: inline-block;
    position: relative;
    background-color: white;
    border: solid grey 1px;
    width: 120px;
    height: 18px;
}

.select-editable select {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 14px;
    border: none;
    width: 120px;
    margin: 0;
}

.select-editable input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    padding: 1px;
    font-size: 12px;
    border: none;
}

.select-editable select:focus,
.select-editable input:focus {
    outline: none;
}
